body {
    padding-top: 20px;
    padding-bottom: 40px;
    background: #b88430 url('https://s3.amazonaws.com/com.offerpop.datastore/438279/DdCRt2.jpg') no-repeat center center fixed; 
    background-position: 50% 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-weight:normal;
}
/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 800px;
}

/* Main marketing message and sign up button */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/********************/
/* CUSTOM CSS BELOW */
/********************/
/********************/
/* Top Navigation Bar */
.navbar-fixed-top, .navbar-fixed-bottom{
  position:absolute;
}
#custom-nav-container {
  width: 50%;
  margin: auto;
  position: relative;
}
.navbar-inverse .navbar-inner {
  background: #fff;
  border: 0px;
}
.brand {
  position: absolute;
  top: 0px;
  left: -170px;
}
.navbar-inverse .nav > li > a, .navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover{
  color:#999;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  text-shadow:none;
}
.navbar .nav{
  margin:20px 10px 0 0;
  height:15px;
}
.navbar .nav > li:first-child {
  border-left: 0px;
}
.navbar .nav > li {
  height: 100%;
  margin-top: -8px;
  border-left: 1px solid #999;
}
.nav-collapse .nav a {
  margin-top: -12px;
}

/****************************/
/* Navigation Fixed Section */
/****************************/
#navigation{
  position:fixed;
  font-family:arial;
  font-weight:bold;
  background:#e3d8b8;
  top:20%;
  z-index:999999;
}
#navigation ul{
  margin:0;
}
#navigation li {
  list-style-type: none;
  line-height: 40px;
  text-align:right;
  padding: 0px 20px;
}
#navigation li a{
  text-decoration:none;
  color:#000;
}
#navigation li:hover, #navigation li:hover > a, #navigation li.active, #navigation li.active a{
  color:#006a3a;
  background:#fff;
}

/***********************/
/* Header Text Section */
/***********************/
.jumbotron {
  margin: 60px 0 0 0;
  text-align: center;
}
.jumbotron h1{
  color:#006a3a;
  font-size: 72px;
  line-height: 1;
  font-weight:normal;
  font-family:Belleza;
}
.lead{
  width:90%;
  margin:auto;
  font-weight:normal;
  font-size:19px;
}
.marketing {
  margin: 30px 0;
}


/****************************/
/* Youtube Carousel Section */
/****************************/
#carousel-container{
  width: 88%;
  height: 150px;
  margin: 0 auto;
  margin-top:20px;
}
#touch-of-glam{
  /*height:500px;*/
  height:300px;
}
#touch-of-glam iframe{
  display:none;
}
#touch-of-glam img{
  cursor:pointer;
}
#yt-carousel{
  background:url('https://s3.amazonaws.com/com.offerpop.datastore/438279/lrZZGy.jpg');
  height: 190px;
  width: 100%;
  margin-left: 0px;
  /* Temporarily Hidden */
  display:none;
}
#yt-carousel p{
  background:url('https://s3.amazonaws.com/com.offerpop.datastore/438279/ngIQ2e.jpg');
  color:#fff;
  height:45px;
  width:100%;
  text-align: center;
  margin-top:-41px;
  border:1px solid transparent;
}
#yt-border {
  border: 1px solid #4d8555;
  height:100%;
  width:100%;
}
.yt-play {
  position: relative;
  top: -65px;
  left: 60px;
  width:55px;
}
#yt-controls{
  margin-left:0px;
}
#yt-controls .previous {
  position: relative;
  float:left;
  top: -140px;
  text-decoration: none;
}
#yt-controls .next {
  position: relative;
  top: -140px;
  float:right;
  text-decoration: none;
}

/***************/
/* Sign Up App */
/***************/
#get-a-sample {
  height: 1130px;
  margin-left:0px;
  background:url('https://s3.amazonaws.com/com.offerpop.datastore/438279/dnzcg9.jpg') center 100%;
}

/******************/
/* Touch to Share */
/******************/
#touch-to-share{
  margin-left:0px;
  background:url('https://s3.amazonaws.com/com.offerpop.datastore/438279/dnzcg9.jpg') center 100%;
  text-align: center;
  float:left;
  padding-bottom:5%;
}
#touch-gif{
  text-align:center;
  margin:0 20% 5% 20%;
  -webkit-user-select:none; 
  -webkit-touch-callout:none; 
}
#touch-gif img{
  cursor:pointer;
}
.social-sharing {
  width: 25%;
  display: inline-block;
  color: #fff;
  background: #005830;
  height: 25px;
  padding-top: 10px;
  margin:10px;
  text-align:center;
}
#social-container {
  margin-top: 8%;
  display:none;
  text-align:center;
  text-shadow:none;
}
#touch-to-share h2{
  color:#006a3a;
  font-size:200%;
  font-family:Belleza;
  margin-top:0px;
}
#touch-to-share p{
  color:#000;
  font-size:13px;
  width: 60%;
  margin: 20px auto;
}
#social-container p {
  margin: 0 auto;
  margin-bottom:10px;
}
#email-envelope {
  width: 40%;
  margin-top: -32%;
  position: relative;
  display: none;
}


/************************/
/* Get a Coupon Section */
/************************/
#get-a-coupon {
  background: url('https://s3.amazonaws.com/com.offerpop.datastore/438279/dnzcg9.jpg') center 100%;
  margin-left: 0px;
  text-align: center;
  padding-bottom: 40px;
  float:left;
}
#get-a-coupon img{
  width:90%;
  margin:auto;
}
.after-sign-up{
  height:500px !important;
}
/*******************/
/* Hashtag Gallery */
/*******************/
#glam-gallery{
  background:#9e772f;
  margin:20px 0px 0px 0px;
  padding:10px;
  clear:both;
  float:left;
  /*height:600px;*/
}

/*******************/
/* Glam in 3 Steps */
/*******************/
#our-products{
  background:#9e772f;
  margin:20px 0px 0px 0px;
  padding:10px;
  clear:both;
  float:left;
}
#our-products #header {
  position: relative;
  width: 70%;
  text-align: center;
  margin: auto;
  top: 20px;
}
#our-products #header h1{
  color:#006a3a;
  font-family:Belleza;
}
#three-controls{
  margin-left:0px;
}
#three-image-container {
  margin-top: -130px;
  background:url('https://s3.amazonaws.com/com.offerpop.datastore/438279/dnzcg9.jpg') center 100%;
}
#three-controls .previous {
  position: relative;
  top: -130px;
  float:left;
  text-decoration: none;
}
#three-controls .next {
  position: relative;
  top: -130px;
  float: right;
  text-decoration: none;
}
#three-selection-container {
  background: url('https://s3.amazonaws.com/com.offerpop.datastore/438279/dnzcg9.jpg') center 100%;
  margin: -105px 0px 0px 0px;
}
#three-selection-container .span3 {
  margin-left: 20px;
  width:24%;
}
#three-selection-container .span3 p{
  text-align:center;
  color: #fff;
  background:#ba9a51;
  margin-bottom:0px;
}
#ginger-thumb, #macadamia-thumb, #seaweed-thumb, .product-arrow{
  float:left;
}
.product-arrow{
  margin-top:10px;
}
.product-thumb{
  opacity: .5;
  background: #fff;
  border: 1px solid #ba9a51;
  margin-bottom:15px;
  width:88%;
  margin-left:-3%;
  clear:both;
  cursor:pointer;
}
#ginger-thumb.active{
  border:1px solid #4b280f;
  opacity: 1;
  background: none;
}
#macadamia-thumb.active{
  border:1px solid #eac200;
  opacity: 1;
  background: none;
} 
#seaweed-thumb.active{
  border:1px solid #00682e;
  opacity: 1;
  background: none;
}
#ginger-thumb.active p{
  background: #4b280f;
}
#macadamia-thumb.active p{
  background:#eac200;
}
#seaweed-thumb.active p{
  background:#00682e;
}
#three-selection-container .span8{
  width:72%;
  border:1px solid #d1ad5b;
  height:660px;
  margin-bottom:20px;
  margin-left:-0.5%;
}
#cta-container {
  margin: 0 auto;
  width: 95%;
  margin-left:8%;
}
#cta-container a.btn{
  width: 31%;
  color: #fff;
  padding: 0px;
  text-shadow:none;
  font-size:12px;
  border:0px;
  box-shadow: 0px 1px 3px 1px #ccc;
  -webkit-box-shadow: 0px 1px 3px 1px #ccc;
  -moz-box-shadow: 0px 1px 3px 1px #ccc;
}
#ginger-load #cta-container a.btn{
  background: #4b280f;
}
#macadamia-load #cta-container a.btn{
  background: #eac200;
}
#seaweed-load #cta-container a.btn{
  background: #00682e;
}
#cta-container img.arrow {
  width: 8%;
  margin-top: -3px;
}
.btn {
  border-radius: 0px; 
}
#product-info-container {
padding-top: 10px;
}
#product-info h5{
  color:#105a2c;
  text-align:center;
  margin-bottom:0px;
  font-size:13px;
}
#product-info p{
  color:#4b280f;
  text-align:center;
  font-size:17px;
}
#product-info p span {
  font-size: 13px;
}
#product-info-tabs {
  width: 95%;
  margin: 0 auto;
}
#product-info-tabs a {
  width: 31%;
  padding: 10px 0px;
  font-size: 12px;
  border: 0px;
  background: url('https://s3.amazonaws.com/com.offerpop.datastore/438279/iR5LKB.jpg');
  text-shadow:none;
  line-height:15px;
}
#ginger-load #product-info-tabs a.active{
  background:url('https://s3.amazonaws.com/com.offerpop.datastore/438279/qImuUd.jpg');
  color:#fff;
}
#macadamia-load #product-info-tabs a.active{
  background:url('https://s3.amazonaws.com/com.offerpop.datastore/438279/YE8GHl.jpg');
  color:#fff;
}
#seaweed-load #product-info-tabs a.active{
  background:url('https://s3.amazonaws.com/com.offerpop.datastore/438279/tKdiHF.jpg');
  color:#fff;
}
#product-info-description {
  background: #fff;
  padding: 10px;
  width: 84%;
  margin-left: 6px;
}
#product-info-description p, #product-info-description ul{
  display:none;
}
#product-info-description p.active, #product-info-description ul.active{
  display:block;
}
#product-info-description p {
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
}
#product-info-description li {
  font-size: 12px;
}
#product-info-description p, #product-info-description li {
  text-align: left;
}
#product-info-youtube{
  margin-top: 20px;
}
#product-info-youtube .span7{
  width:57%;
}
#product-info-youtube .span4{
  width:37%;
}
#tiny-youtube p {
    font-size: 12px;
    line-height: 13px;
    font-weight: bold;
}
#tiny-youtube p span{
    color:#105a2c;
}

/***************/
/* GLAM 4 GOOD */
/***************/
#glam-4-good {
  margin:20px 0px 0px 0px;
  clear:both;
  float:left;
}
#glam4good-header {
  background: url('https://s3.amazonaws.com/com.offerpop.datastore/438279/qMG8oR.jpg') no-repeat;
  background-size: 100% auto;
  height:134px;
  padding-top:5%;
}
#glam4good-body-header a{
  text-decoration:underline;
  color:#006a3a;
}
#glam4good-header p {
  width: 65%;
  margin-left: 20%;
  font-size:16px;
}
#glam4good-container {
  background: #9e772f;
  margin: 0px;
  padding: 10px;
  float:left;
}
#glam4good-content {
  background: url('https://s3.amazonaws.com/com.offerpop.datastore/438279/dnzcg9.jpg') center 100%;
  float:left;
  padding-bottom:20px;
}
#glam4good-left .span12, #glam4good-right .span12{
  padding:10px;
}
#glam4good-left {
  margin: 10px 0px 0px 5px;
}
#glam4good-right {
  margin: 10px 0px 0px 5px;
}
#about-mary-stephenson {
  border: 1px solid #b5812b;
  background: #fff;
  width:95%;
}
#about-mary-stephenson p{
  color:#9a6e25;
}
#mary-description{
  margin-left: 10px;
  width: 65%;
}
#glam4good-body-header > h3, #glam4good-body-header h5{
  color: #006a3a;
  font-family:Belleza;
}
#about-mary-stephenson h3{
  color:#006a3a;
  font-family:Belleza;
  line-height: 23px;
  margin-top:0px;
}
#glam4good-body-header p, #about-mary-stephenson p {
  font-size: 12px;
  line-height: 14px;
}
#follow-social {
  text-align: center;
  color:#006a3a;
}
#glam4good-carousel{
  background:url('https://s3.amazonaws.com/com.offerpop.datastore/438279/dnzcg9.jpg') center 100%;
  margin-left:0px;
}
#glam4good-carousel .span3{
  width:39%;
  margin:auto;
  /*display:none;*/
}
/*#glam4good-carousel .span3:first-child{
  display:block;
}*/
#carousel-container, #yt-carousel, #glam4good-carousel{
  height:100%;
}

/* Testing CSS */

