body {
  padding-top: 20px;
  padding-bottom: 40px;
  background: url('https://s3.amazonaws.com/com.offerpop.datastore/438279/mjnqh6.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.https://s3.amazonaws.com/com.offerpop.datastore/438279/mjnqh6.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://s3.amazonaws.com/com.offerpop.datastore/438279/mjnqh6.jpg', sizingMethod='scale')";
  font-family:Belleza;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 800px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/********************/
/* CUSTOM CSS BELOW */
/********************/
/********************/

/* Navigation Fixed Section */
#navigation{
  position:fixed;
  font-family:arial;
  font-weight:bold;
  background:#e3d8b8;
  top:290px;
}
#navigation ul{
  margin:0;
}
#navigation li {
  list-style-type: none;
  line-height: 40px;
  text-align:right;
  padding: 0px 20px;
}
#navigation li a{
  text-decoration:none;
  color:#000;
}
#navigation li:hover, #navigation li:hover > a{
  color:#006a3a;
  background:#fff;
}

/* Header Text Section */
.jumbotron {
  margin: 60px 0 0 0;
}
.jumbotron h1{
  color:#006a3a;
}
.lead{
  width:90%;
  margin:auto;
}
.marketing {
  margin: 30px 0;
}
/* Youtube Carousel Section */
#carousel-container{
  width: 88%;
  height: 150px;
  margin: 0 auto;
  margin-top:20px;
}
#yt-large{
  height:500px;
}
#yt-carousel{
  background:url('https://s3.amazonaws.com/com.offerpop.datastore/438279/lrZZGy.jpg');
  height: 190px;
  width: 100%;
  margin-left: 0px;
}
#yt-border {
  border: 1px solid #4d8555;
  height:100%;
  width:100%;
}
.yt-play {
  position: relative;
  top: -65px;
  left: 60px;
  width:55px;
}
#yt-carousel p{
  background:url('https://s3.amazonaws.com/com.offerpop.datastore/438279/ngIQ2e.jpg');
  color:#fff;
  height:45px;
  width:100%;
  text-align: center;
  margin-top:-41px;
  border:1px solid transparent;
}
#yt-controls{
  margin-left:0px;
}
#yt-controls .previous {
  position: relative;
  left: 0px;
  top: -140px;
  text-decoration: none;
}
#yt-controls .next {
  position: relative;
  top: -140px;
  right: -728px;
  text-decoration: none;
}
/* Sign Up App */

/* Hashtag Gallery */
#glam-gallery{
  background:#9e772f;
  margin:20px 0px 0px 0px;
}

/* Glam in 3 Steps */
#glam-three-steps{
  background:#9e772f;
  margin:20px 0px 0px 0px;
}

/************************/
/* CUSTOM MEDIA QUERIES */
/************************/
@media (max-width: 979px) {
  #navigation{
    display:none;
  }
}
@media (max-width: 767px) {
  #yt-carousel .span3{
    width:39%;
    margin:auto;
  }
  #carousel-container{
    margin-top:0px;  
  }
  #carousel-container, #yt-carousel{
    height:100%;
  }
  .yt-play{
    top: -90px;
    left: 90px;
  }
}