#desktop-version{
display:none;
}
#share-section {
width: 100%;
}
#share-section img {
width: 32%;
display: inline-block;
}

#mobile-version #share-section{
text-align:center;
}
.charity-health-container {
background: url('https://opop.cachefly.net/bjs/middle_repeat.jpg');
width: 100%;
background-size: 100%;
float:left;
padding-top:5px;
margin-top:-5px;
}

.charity-health-container .content-column {
width: 90%;
margin: auto;
padding-top:5px;
margin-top:-5px;
}

.charity-health-container .content-column .logo {
width: 45%;
display: inline-block;
float:left;
}
.description {
font-size: 70%;
display: inline-block;
width: 50%;
text-shadow:none;
color:#fff;
margin-left: 5%;
}
.charity-section {
clear: both;
margin-bottom: 15px;
}
#charity-bottom {
margin-top: -5px;
float: left;
}
#education img, #self-sufficiency img, #education img, #hunger img {
float: left;
}