/***** Gives element 100% width *****/
.width {
    width: 100%;
}


/**** Floats element to left or right*****/

.left {
    float: left;
width: 48% !important;
}

.right {
    float: right;
width: 48% !important;
}


.war_left {
float:left;
width: 48% !important;
margin-left: 27%;
}

.war_right {
float:right;
width: 48% !important;
margin-right: 2%;
}

/***bracket borders ****/
.labels {
text-align: center;
font-size: 16px;
font-weight: bold;
clear:both; 
}


/**** hide navigation tabs ****/
#cnav_view, #cnav_submit {
display:none; 
}


/**** hide elements ****/
.CFooterDivider {
display: none !important; 
}

.CAction {
display: none;
}
#app_canvas, body {
overflow:hidden; 
}

.CFooterDivider + div {
padding-top: 30px !important;
}

#report_spam_div {display: none !important; }

/* Share section positioning */

#share-section {
width: 810px !important;
margin: 0 0 0 4px;
}

#share-section > a > img {
padding: 0 11px 8px 0;
}

#charity-share {
position: relative;
}

#charity-share > div:nth-child(1) {
position: relative;
top: 200px;
}

#charity-share > div:nth-child(2) {
position: absolute;
top: 730px;
}

#charity-share > div:nth-child(3) {
position: absolute;
top: 1095px;
}

#charity-share > div:nth-child(4) {
position: absolute;
top: 1460px;
}

.bracket-category {
	left: 230px;
}

#share-section-1, #share-section-2, #share-section-3, #share-section-4, #share-section-5, #share-section-6, #share-section-7, #share-section-8, #share-section-9, #share-section-10, #share-section-11, #share-section-12, #share-section-13, #share-section-14, #share-section-15, #share-section-16 {
width: 100px;
}

#share-section-1 {
position: absolute;
top: 155px;
}

#share-section-2 {
position: absolute;
top: 155px;
left: 383px;
}

#share-section-3 {
position: absolute;
top: 325px;
}

#share-section-4 {
position: absolute;
top: 325px;
left: 383px;
}

#share-section-5 {
position: absolute;
top: 0;
left: 0;
}

#share-section-6 {
position: absolute;
top: 0;
left: 383px;
}

#share-section-7 {
position: absolute;
top: 170px;
left: 0;
}

#share-section-8 {
position: absolute;
top: 170px;
left: 383px;
}

#share-section-9 {
position: absolute;
top: 0;
left: 0;
}

#share-section-10 {
position: absolute;
top: 0;
left: 383px;
}

#share-section-11 {
position: absolute;
top: 170px;
left: 0;
}

#share-section-12 {
position: absolute;
top: 170px;
left: 383px;
}

#share-section-13 {
position: absolute;
top: 20px;
left: 0;
}

#share-section-14 {
position: absolute;
top: 20px;
left: 383px;
}

#share-section-15 {
position: absolute;
top: 190px;
left: 0;
}

#share-section-16 {
position: absolute;
top: 190px;
left: 383px;
}

.CFooterDivider + div {
display: none;
}

#clock-iframe {
height: 80px;
margin: 0 27%;
}

</style>
<script>
	jQuery(document).ready(function(){
		var bitlyLink = '1hbk8UK';
	jQuery(function($) {
		var charity = {
			'redCross' : {
				'name' : 'American Red Cross'
				,'message' : 'raise money to alleviate and prevent human suffering during emergencies.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/red-cross.jpg'
			}, 'americanHeart' : {
				'name' : 'American Heart Association'
				,'message' : 'raise money to build lives free of cardiovascular disease and stroke.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/american-heart.jpg'
			}, 'actionHealthy' : {
				'name' : 'Action for Healthy Kids'
				,'message' : 'raise money to shape healthy schools.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/action-kids.jpg'
			}, 'stJudes' : {
				'name' : 'St Jude Children\'s Research Hospital'
				,'message' : 'raise money to help treat and defend childhood cancer and other deadly diseases.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/st-jude.jpg'
			}, 'feedingAmerica' : {
				'name' : 'Feeding America'
				,'message' : 'raise money to feed more than 37 million people in the fight against hunger.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/feed-america.jpg'
			}, 'feedChildren' : {
				'name' : 'Feed The Children'
				,'message' : 'raise money to make sure that no family goes to bed hungry.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/feed-children.jpg'
			}, 'actionHunger' : {
				'name' : 'Action Against Hunger'
				,'message' : 'raise money to aid malnourished children via sustainable hunger solutions.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/action-hunger.jpg'
			}, 'mealsWheels' : {
				'name' : 'Meals on Wheels'
				,'message' : 'raise money to serve over one million meals a day to seniors in need.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/meals-wheels.jpg'
			}, 'endHomelessness' : {
				'name' : 'National Alliance to End Homelessness'
				,'message' : 'raise money to prevent and end homelessness in the US.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/homelessness.jpg'
			}, 'unitedWay' : {
				'name' : 'United Way'
				,'message' : 'raise money to improve lives around the world to advance the common good.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/united.jpg'
			}, 'nationalDiaper' : {
				'name' : 'National Diaper Bank Network'
				,'message' : 'raise money to help families get diapers to keep babies clean, dry + healthy'
				,'image' : 'https://opop.cachefly.net/bjs/logos/diapers.jpg'
			}, 'domesticAbuse' : {
				'name' : 'National Coalition Against Domestic Violence'
				,'message' : 'raise money to end violence against women.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/NCADV.jpg'
			}, 'jumpStart' : {
				'name' : 'Jumpstart'
				,'message' : 'raise money to make sure kids are ready to succeed the day they start kindergarten.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/jumpstart.jpg'
			}, 'famiiesLearning' : {
				'name' : 'National Center for Families Learning'
				,'message' : 'raise money to engage families and  drive educational progress.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/NCFI.jpg'
			}, 'bigBrothers' : {
				'name' : 'Big Brothers Big Sisters'
				,'message' : 'raise money to help kids facing adversity achieve success.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/big-bro_big-sis.jpg'
			}, 'teachForAmerica' : {
				'name' : 'Teach for America'
				,'message' : 'raise money to recruit the best and brightest to teach at U.S. schools.'
				,'image' : 'https://opop.cachefly.net/bjs/logos/teach-america.jpg'
			}
		};

		jQuery('.charity-fb-share').click(function(e){
			e.preventDefault();
			var charityName = this.id
				,shareImage = charity[charityName].image
				,charityMessage = charity[charityName].message
				,charityName = charity[charityName].name;

			FB.ui({
				method: 'feed',
				name: 'My Favorite Charity | BJ\'s Charity Championship',
				link: 'http://bit.ly/1hbk8UK',
				caption: 'http://bit.ly/1hbk8UK',
				description: 'Vote for ' + charityName + ' in BJ\'s Charity Championship. Your support could help ' + charityMessage,
				picture: shareImage
			});
		});

		jQuery('.large-fb').click(function(e){
			e.preventDefault();
			FB.ui({
				method: 'feed',
				name: 'BJ\'s Charity Championship',
				link: 'http://bit.ly/1hbk8UK',
				caption: 'http://bit.ly/1hbk8UK',
				description: 'Join a different kind of madness this March. In our tournament, 16 charities go toe-to-toe to strengthen communities. We\'ll be giving out 45K in donations! Vote today and '
			});
		});

	});
	});
</script>
<script>
jQuery(function($){
if ($('.SDescription').length > 0){
var gallery = $('#cnav_winners').attr('href');
window.open( gallery , '_self');
}
});
</script>
<style>