/***** Gives element 100% width *****/
.width {
    width: 100%;
}

/**** Floats element to left or right*****/

.left {
width: 100% !important;
}

.right {
width: 100% !important;
}


.war_left {
width: 100% !important;
}

.war_right {
width: 100% !important;
}


/**** hide navigation tabs ****/
#cnav_view, #cnav_submit {
display:none; 
}


/**** start mobile specific code ****/

iframe {
width: 100% !important;
height: 330px !important; 
}

a#cbut_view {
display:none; 
}

li.ui-block-a {
display:none; 
}

div#contest-results img {
width: 100% !important;
padding: 0px !important; 
margin: 0px !important; 
}

.app_header {
height: 45px;
}

.page_logo {
display: none;
}

#contest-results img {
width: 120% !important;
padding: 0px !important;
margin: -30px -26px !important;
}

#share-section img{
display:inline-block;
width:32%;
}
#charity-share{
display:none;
}

#share-section{
text-align:center;
}

#clock-iframe {
height: 80px;
margin: 0 0;
}

</style>
<script>
jQuery('.large-fb').click(function(){

			FB.ui({
				method: 'feed',
				name: 'BJ\'s Charity Championship',
				link: 'http://bit.ly/' + bitlyLink,
				// caption: ,
				description: 'Join a different kind of madness this March. In our tournament, 16 charities go toe-to-toe to strengthen communities. We\'ll be giving out 45K in donations! Vote today and '
			});
		});
</script>
<style>