/****hide page elements****/

#app_canvas_header {
display: none;
}

.THeadline {
display: none; 
}

.THeader {
display: none;
}

#share_button {
display: none !important;
}

.TComments {
display:none;
}

.TInstructions {
display:none; 
}

.TDesc-and-countdown-container {
display: none;
}

#powered_by {
display: none !important;
}

/*** adjust width of matchups ***/

.TStatus {
width:380px !important;
margin-top: 0px !important;

}

#view_container > div.TStatus > table {
width:380px !important;
}

.TugPageContent {
width:380px !important;
}


/*** adjust heights ****/

.PageContent {
width: 380px !important;
height: 260px !important;
overflow: hidden;
}

body {
height: 260px !important;
overflow: hidden;
width: 370px !important;
border: 1px solid #ccc !important;
padding: 0px !important;
background: none !important;
}

#view_container, #view_container, #app_canvas, .TugPageContent {
height: 300px !important;
}


/**** remove borders and adjust matchup box****/

.TTable .LBox {
border-right: 0px solid #ccc !important;
padding-right: 0px !important;
}

.TTable .RBox {
padding-left: 0px !important;
}


/*** vote button ****/
.VButton a {
color: white;
background: #3B5998;
padding: 6px 15px 6px 15px;
border: 0px double #D8DFEA !important;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
text-decoration: none;
font-weight: bold;
font-size: 1.0em;
}

/*** images code ****/

.TStatus .TImage {
text-align: center;
margin-bottom: 10px;
width: 172px;
height: 150px;
}

#app_canvas .TStatus .TImage img {
width: 172px !important;
height: 150px;
}

/***CENTER AFTER VOTE POP UP***/

#pop_email {
width: 245px !important;
left: 40px !important;
}

/***end ***/

.TStatus .TName {
font-size: 12px !important;
}

/**** Mobile Media Queries ****/
@media (max-width:331px) and (min-width:163px) {
    body {
        margin: 0px;
    }
    #app_canvas_header {
        display: none;
    }
    #vs {
        display: none;
    }

    div.VButton a {
        padding: 13px 23px;
        font-size: 12px;
    }

	.hoverCup {
        padding-top: 68px;
        font-size: 16px;
    }


	.TStatus {
	width:100% !important;
	margin-top: 0px !important;
	}

	#view_container > div.TStatus > table {
	width:100% !important;
	}

	.TugPageContent {
	width:100% !important;
	}


	/*** adjust heights ****/

	.PageContent {
	width: 100% !important;
	height: 260px !important;
	overflow: hidden;
	}

	body {
	height: 260px !important;
	overflow: hidden;
	width: 100% !important;
	border: none !important;
	padding: 0px !important;
	background: none !important;
	}

	#view_container, #view_container, #app_canvas, .TugPageContent {
	height: 300px !important;
	}

	#app_canvas .TStatus .TImage img {
		width: 100px !important;
		height: 100px !important;
	}

	.TName { width: 50% !important;}

	div.TStatus .TImage {
    margin-bottom: 0px;
    width: 100%;
    height: 123px;
	}

}

/**** Mobile Styles *****/

html {
width: 100% !important;
}
body {
width: 99% !important;
overflow: hidden !important;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
}

table.TTable {
    width: 100%;
}
div#app_canvas .TStatus .TImage img {
    width: 100%;
}
.LBox, .RBox {
    padding: 0px !important;
    width: 50% !important;
}
div.TStatus {
    margin: 0px;
}


div.TStatus, .PageContent, div.TugPageContent {
    width: 100%;
}
div.TImage {
    width: 100%;
}

.fb_reset {
display : none !important;
}

#report_problem_left {
    display: none !important;
}

.TTable { width: 100%; }

div#app_canvas .TStatus .TImage img { width: 100%; }

</style>


<script>jQuery(function($){$(document).ready(function(){popShare=function(){}});OP.FB.showShareDialog = function() {};});</script>


<style>