

* {
font-family: 'champagne__limousinesregular', Arial, sans-serif;
}

.strong {
font-family: 'champagne__limousinesbold', Arial, sans-serif;
}

#prize {
width: 375px;
padding: 0 5px 0 5px;
}

.prize-header {
	width: 375px;
	height: 48px;
	background-color: #272727;
	-webkit-box-shadow: 0 2px #fff;
	-moz-box-shadow: 0 2px #fff;
	box-shadow: 0 2px #fff;
	background-image: -webkit-linear-gradient(7deg, #67194f, #8e2584 25%, #67194f 50%, #8e2584 75%, #67194f);
	background-image: -moz-linear-gradient(7deg, #67194f, #8e2584 25%, #67194f 50%, #8e2584 75%, #67194f);
	background-image: -o-linear-gradient(7deg, #67194f, #8e2584 25%, #67194f 50%, #8e2584 75%, #67194f);
	background-image: linear-gradient(83deg, #67194f, #8e2584 25%, #67194f 50%, #8e2584 75%, #67194f);
border-bottom: 2px solid #fff;
}

.SDescription, .CDescription {
background: url('https://opop.cachefly.net/Clear/description-bg.png');
width: 810px !important;
color: #fff;
}

#top-section {
width: 448px;
padding: 110px 0 0 40px;
color: #fff;
}

#top-section p {
font-size: 22px;
font-weight: 100;
line-height: 1.4;
}
/*
#top-section > p {
font-size: 16px;
line-height: 1.4;
}*/

.CNav { 
margin: 0 0 -52px 0;
background: #fff;
}

.prize {
float: left;
height: 515px;
width: 375px;
padding: 0 5px 0 20px;
}

#prizes {
margin: 130px 0 0 0;
overflow: hidden;
}

#prizes h4 {
text-transform: uppercase;
padding: 15px;
font-size: 16px;
text-align: center;
}

.prize-list {
background: #272727;
margin: 0;
height: 500px;
padding: 20px 25px;
}

li {
list-style: none;
padding: 7px 14px 5px 0px;
font-size: 15px;
font-weight: 100;
}

#select-entrants {
background: #272727;
margin: 20px;
padding: 4px 4px 4px 35px;
font-size: 16px;
visibility: hidden;
}

a {
color: #fff;
text-decoration: underline;
}

#prizes a {
color: #fff;
text-decoration: underline;
}

#tune-in {
background: #a02d96;
font-size: 20px;
line-height: 1;
padding: 3px 25px;
}

#enter-cta {
position: relative;
}

#enter {
position: absolute;
top: 18px;
left: 230px;
}

.CAction {
display: none;
}


div.CNav a{
width:270px;
padding:0px; /* May need to change */
background: transparent !important;
}

#cnav_view{
left:270px;
}
#cnav_submit {
left: 0px;
}
#cnav_winners {
left: 540px;
}
#cnav_about {
display: none;
}

.CNav a {
position: absolute;
}

.CNav a.Sel {
border: 0 !important;
}

#gallery-controls {
	display: none;

}

#thevoice-video {
margin: 0 21px;
}

#clear-footer {
background: url('https://opop.cachefly.net/Clear/clear-footer.png') no-repeat #272727;
height: 150px;
width: 810px;
padding: 50px 0 0 0;
margin: 40px 0;
}

#clear-footer p {
color: #fff !important;
padding: 11px 43px 0;
}

.SBox + #clear-footer {
background: url('https://opop.cachefly.net/Clear/clear-footer.png') no-repeat #272727;
height: 150px;
width: 810px;
padding: 50px 0 0 0;
margin: -42px 0;
}



.CFooterDivider, .CFooterDivider + div, #report_spam_div, .CShare {display: none;}


/**** SUBMIT PAGE STYLES ****/

#app_canvas {
	overflow: hidden;
}

.CSub {
background: url('https://opop.cachefly.net/Clear/submit-bg.png') no-repeat;
height: 1200px;
width: 810px;
margin: 140px 0 0 0;
}

.SFields {
color: #FFF;
padding: 20px;
}

#entry_submit {
padding: 0 20px;
}

#back {
	padding: 20px;
}


.numberList {
display: inline;
padding: 0 18px 0 0;
vertical-align: middle;
}

#facebook-profile-connect {
display: none;
}

#submit-instructions {
	padding: 40px;
}

#submit-instructions p {
	font-size: 16px;
}

#submit-instructions h2 {
	font-size: 26px;
}


#gallery-content-wrapper > img {
margin-top: -30px;
}

.CResults > img {
margin: -41px -10px;
}

#instructions {
color: #fff;
margin: 0 0 0 0;
width: 810px !important;
}

#firstname, #lastname, #email, #address, #address2, #city, #zip, #gender, #post, #cell  {
background: #333333;
border: 0;
border-radius: 2px;
color: #808080;
padding: 16px 25px;
font-size: 16px;
width: 205px;
}

#sfield_firstname, #sfield_lastname {
width: 365px;
display: inline-block;
padding-right: 10px;
}

#firstname, #lastname {
	width: 300px;
}

#sfield_address, #sfield_address2 {
width: 700px;
display: inline-block;
padding-right: 10px;
}

#address, #address2 {
	width: 700px;
}

#sfield_gender {
	width: 160px;
	display: inline-block;
}

#gender {
	width: 120px;
	height: 45px;
}

#zip, #post {
	width: 120px;
	display: inline-block;
}

#sfield_city, #sfield_zip {
	width: 300px;
	display: inline-block;
}

#city {
	width: 200px;
}

 #sfield_cell, #sfield_post {
	width: 215px;
	display: inline-block;
}

#cell {
	width: 150px;
}

#post {
	width: 150px;
}


#sfield_email {
	width: 280px;
	display: inline-block;
}
#email {
	width: 200px;
}


#sfield_caption, #sfield_state, .SRules {display: none;}

.SDeclare {
width: 600px;
font-size: 18px;
vertical-align: middle;
margin: 17px;
}

#privacyText {
width: 600px;
padding: 20px;
}

.SReCAPTCHA {
padding: 10px 178px;
}

.SReCAPTCHA input {
font-size: 20px;
padding: 4px;
}

.recaptchatable {
line-height: 4em;
border: none;
}

#recaptcha_logo {
background: white;
border-radius: 3px;
}

button {
	cursor: pointer;
}

#errorMessage {
    padding: 10px;
    border: 1px solid red;
    color: red;
    width: 50%;
    display:none;
}
.submit-fields #errorMessage {
    margin: 0 auto;
}
#errorMessage span {
    text-decoration:underline;
}
.s-box input.Invalid, div.SField input.Invalid{
    border:1px solid red !important;
    background:pink !important;
}

#frmSignUp {
background: black;
margin-bottom: 40px;
}

#form_submit_button > img {
margin: 0 240px;
}

.SSubmit button {
margin: 0 auto;
padding: 0;
font-size: 18px;
border: none;
background: transparent;
}

label, #upload_entry {
	font-size: 15px !important;
	color: #fff !important;
}


</style>

